
  .logo {
    max-width: 3.82rem;
    height: 5.1rem;
  }

  body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    color: rgb(237, 166, 0);
    background-color: #1f1f1f;
}

main, header {
    max-width: 80ch;
    margin-inline: auto;
    text-align: center;
    font-size: 2rem;
    line-height: 1rem;
}

img {
    max-width: 19.1rem;
    height: 25.5rem;
}

h1 {
    font-size: 5rem;
}

.navigation
{
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1rem;
}

.navlinks
{
    margin-top: 2rem;
}